.auto-style {
    width: 100%;
    background-color: pink;
}

.auto-style1 {
    text-align: center;
    background-color: white;
}

.width1 {
    width: 16%;
    padding: 5%;
}

.width2{
    width: 5%;
    padding: 5%;
}


.tableFormat {
    border-collapse: collapse;
    border: 5px solid lightpink;
    height: auto;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    margin-top: 100px;
    background-color: lightgray;
    width: 50%;
    text-align: center;
}

.btnView {
    background-color: white;
    color: black;
    height: 30px;
    font-size: 18px;
    border: 2px solid lightpink;
}

.btnView:hover {
    background-color: lightpink !important;
}

.btnChkOut{
    margin-right:10%
}

.content {
    border: none;
    width: 100%;
    background-color: lightgray;
}

.buttonLogin {
    border-color: #4D94FF;
    background-color: white;
    color: black;
    font-size: x-large;
    text-align: center;
    width: 320px;
    border: 2px solid lightpink;
}

.buttonLogin:hover {
    background-color: lightpink !important;
}

.tableTitle {
    width: 100%;
    text-align: center;
    background-color: pink;
    color: black;
    height: 80px;
    font-size: 18px;
}

.inputForm th {
    border-bottom: 2px solid hotpink;
    background-color: pink;
    color: black;
    font-size: 18px;
}

.inputForm {
    margin: 50px auto 100px auto;
    width: 50%;
    border: 2px solid lightpink;
    background-color: white;
}

.buttonLogin {
    background-color: white;
    color: black;
    width: 26%;
    height: 30px;
    font-size: 12px;
    border: 2px solid lightpink;
}

    .buttonLogin:hover {
        cursor: pointer;
        background-color: lightpink;
    }

