body {
}

.btnView {
    width: 100px;
    height: 50px;
    border-color: lightpink;
    background-color: white;
    color: black;
}

    .btnView:hover {
        background-color: lightpink !important;
    }